/* Styles go here */

body{
  font-family: Arial;
  font-size: 11px;
}
table thead tr td{
  background-color : gray;
  /*min-width : 100px;*/
  position: relative;
}

.filter{
  position:absolute;
  border: solid 1px;
  top : 20px;
  background-color : white;
  width:300px;
  left:0;
  display:none;
}

img {
  max-width: 400px;
}