<div class="well">
    View Site Map for<br>
      <% @sites = ::Site.order(:name) %>
      <% @sites.each do |site|  %>
        <%= link_to site.name, sitemapdetail_path(site) %>&nbsp;&nbsp;
      <% end %>
</div>
