
  <div class="row">
		<div class="col-sm-4">
      <%= render "siteContentModel" %>

		</div>
		<div class="col-sm-8">
			<h1>Content Mapping</h1>
      <!-- <p class="text-muted"><em>Insert definition of content mapping, and how it builds on the web footprint.</em></p> -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          Content Mapping Principles
        </div>
        <div class="panel-body">
            <h4>Content may be <strong>retained</strong> when:</h4>
              <ol>
                <li class="recipe">Quantitative Criteria
                  <ol>
                    <li class="recipe">Page status code is 200 (live and available)</li>
                    <li class="recipe">More than 0 page views in analytics</li>
                    <li class="recipe">Average time on page is greater than 0:00</li>
                    <li class="recipe">Events older than 1/1/2017</li>
                    <li class="recipe">Is a PDF that does not require brand update
                      <ol>
                        <li class="recipe">Tyco.com security PDFs may be retained and assigned to Tyco.com</li>
                        <li class="recipe">Tyco PDFs assigned to JohnsonControls.com may require update</li>
                      </ol></li>
                  </ol></li>
                  <li class="recipe">Qualitative Notes
                    <ol>
                      <li class="recipe">Best represents the enterprise, brand, offering or insight for the region and language intended</li>
                      <li class="recipe">Is the only content available for a product, solution, service or insight</li>
                    </ol></li>
                </ol>
            <h4>Content may be <strong>updated</strong> when:</h4>
              <ol>
                <li class="recipe">Accurate, but requiring editorial adjustment for messaging targeted to audience or page purpose – based on editorial review</li>
                <li class="recipe">Brand updates are required (ex: text or logo updates from Tyco to Johnson Controls, where appearing on JohnsonControls.com)</li>
              </ol>
            <h4>301 Redirects</h4>
              <ol>
                <li class="recipe">Will be identified on legacy sites, assigned a disposition with rules TBD by SEO team</li>
              </ol>
            <h4>Content will be <strong>retired</strong> when:</h4>
              <ol>
                <li class="recipe">Not active on site; Page Status Code < > 200</li>
                <li class="recipe">Duplicate</li>
                <li class="recipe">Not applicable to the current business approach</li>
              </ol>
          <!-- end panel body -->
          </div>
        <!-- end panel -->
        </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          Content Matrix: grooming of site content
        </div>
        <div class="panel-body">
          <h4>For each legacy domain, including JohnsonControls.com:</h4>
          <p>
          <ol>
            <li class="recipe">Obtain the content inventory of each legacy site</li>
            <li class="recipe">Coordinate review of each content item with Johnson Controls business unit content owners</li>
            <li class="recipe">Identify each content item with the following designation:
              <ol>
                <li class="recipe">Keep (as-is)</li>
                <li class="recipe">Update</li>
                <li class="recipe">Delete</li>
                <li class="recipe">Redirect</li>
              </ol>
            </li>
           </ol>
        </div>
      </div>
<!--  -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          Page Mapping: legacy domain pages to future state sitemap
        </div>
        <div class="panel-body">
          <h4>For each legacy domain (Johnson Controls tasks):</h4>
          <p>
          <em class="text-muted"><small>INCLUDE LIST ITEMS NEEDED TO PERFORM TASKS - "before you begin" list<br>
          INCLUDE PEOPLE/ROLES INVOLVED - roles, instructions, process</small></em>
          <ol>
            <li class="recipe">List - Assign migration specialists to legacy domains</li>
            <li class="recipe">301 redirect mapping (map each existing Tyco URL to new JCI URL)
              <ol>
                <li class="recipe">Detailed Legacy Sitemap</li>
                <li class="recipe">Detailed Destination Sitemap</li>
                <li class="recipe">New/As-Is/Update/Delete</li>
                <li class="recipe">Redirect Options
                  <ol>
                    <li class="recipe">Page to Page - where ranking value maps to ranking value<br><mark>Note - special marketing pages for Eloqua?</mark></li>
                    <li class="recipe">Page to Parent - where legacy item is phasing out</li>
                    <li class="recipe">Page to Root - where batch mapping of legacy to destination root is most efficient</li>
                  </ol>
                </li>
              </ol>
              <li class="recipe">Map to JohnsonControls.com Page Type (see Content Model)
                <ol>
                  <li class="recipe">Punchlist of Page Type Components for JCI migration specialist</li>
                </ol>
                </li>
           </ol>



        </div>
      </div>
<!--  -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          Component Mapping
        </div>
        <div class="panel-body">
          <h4>For each page mapped to a destination:</h4>
          <p>
          <ol>
            <li class="recipe">Content Map to Page Components
              <ol>
                <li class="recipe">Identify components</li>
                <li class="recipe">List text</li>
                <li class="recipe">List images</li>
              </ol></li>
            <li class="recipe">Documents
              <ol>
                <li class="recipe">Load documents</li>
                <li class="recipe">Tag documents</li>
                <li class="recipe">Link documents to page, if appropriate</li>
              </ol></li>
            <li class="recipe">Page Links
              <ol>
                <li class="recipe">Reconnect links to targets</li>
              </ol></li>
            <li class="recipe">Images
                <ol>
                  <li class="recipe">Evaluate image disposition: Keep/Find New</li>
                  <li class="recipe">Image pixel and resolution sizing</li>
                  <li class="recipe">Image format compression (JPEG hi-med-low, PNG, etc)</li>
                  <li class="recipe">Image naming standard</li>
                  <li class="recipe">Alt Tag and Description</li>
                </ol></li>
          </ol>




        </div>
      </div>
<!--  -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          Content Tagging
        </div>
        <div class="panel-body">
          <h4>For each page, including articles, news, case study, whitepaper, infographics:</h4>
          <p>
          <ol>
            <li class="recipe">Define Tags for content in Sitecore using Taxonomy, entering into shared spreadsheet:
              <ol>
                <li class="recipe">Industry</li>
                <li class="recipe">Project Size</li>
                <li class="recipe">Business Size</li>
                <li class="recipe">Brand Architecture (Product areas)</li>
                <li class="recipe">Product</li>
                <li class="recipe">Service</li>
                <li class="recipe">Solution</li>
                <li class="recipe">Expertise (LEED, Sustainabiity, Design, etc)</li>
                <li class="recipe">Geography</li>
                <li class="recipe text-muted"><em>Others as needed...</em></li>
              </ol></li>
          </ol>
        </div>
      </div>
<!--  -->
<div class="panel panel-primary">
  <div class="panel-heading">
    SEO Mapping
  </div>
  <div class="panel-body">
    <h4>For each page in the destination site:</h4>
    <p>
    <ol>
      <li class="recipe">Define SEO Meta Data in shared spreadsheet
        <ol>
          <li class="recipe">page titles</li>
          <li class="recipe">meta descriptions</li>
          <li class="recipe">keywords</li>
          <li class="recipe">header tags</li>
        </ol></li>
    </ol>




  </div>
</div>
<!--  -->
		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>


    </div>
  </div>
