

  <div class="row">
		<div class="col-sm-4">
      <%= render "siteContentModel" %>

		</div>
		<div class="col-sm-8">
			<h1>Content Mapping</h1>
      <p>Insert definition of content mapping, and how it builds on the web footprint.</p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Legacy Domain Page Mapping
        </div>
        <div class="panel-body">
          <p>3.	For each legacy domain (Johnson Controls tasks)
INCLUDE LIST ITEMS NEEDED TO PERFORM TASKS - "before you begin" list
INCLUDE PEOPLE/ROLES INVOLVED - roles, instructions, process
a.	List - Assign migration specialists to legacy domains
b.	301 redirect mapping (map each existing Tyco URL to new JCI URL)
i.	Detailed Legacy Sitemap
ii.	Detailed Destination Sitemap
iii.	New/As-Is/Update/Delete
iv.	Redirect Options
1.	Page to Page - where ranking value maps to ranking value
a.	Note - special marketing pages for Eloqua?
2.	Page to Parent - where legacy item is phasing out
3.	Page to Root - where batch mapping of legacy to destination root is most efficient
c.	Map to JohnsonControls.com Page Type (see Content Model)
i.	Punchlist of Page Type Components for JCI migration specialist

        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Page-to-Page Mapping
        </div>
        <div class="panel-body">
          <p>i.	Content Map to Page Components
1.	Identify components
2.	List text
3.	List images
ii.	Documents
1.	Load documents
2.	Tag documents
3.	Link documents to page, if appropriate
iii.	Page Links
1.	Reconnect links to targets
iv.	Images
1.	Evaluate image disposition: Keep/Find New
2.	Image pixel and resolution sizing
3.	Image format compression (JPEG hi-med-low, PNG, etc)
4.	Image naming standard
5.	Alt Tag and Description
v.	SEO Meta Data
1.	page titles
2.	meta descriptions
3.	keywords
4.	header tags
vi.	Content Tagging
1.	Industry
2.	Project Size
3.	Business Size
4.	Brand Architecture (Product areas)
5.	Product, Service, Solution…
6.	Expertise (LEED, Sustainabiity, Design, etc)
7.	Geography
8.	Others as needed


        </div>
      </div>
      


		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>


    </div>
  </div>
