

  <div class="row">
		<div class="col-sm-3">




			<h3>Notes</h3>


		</div>
		<div class="col-sm-9">
			<h1>Site Flows</h1>

        <%= render "siteFlow" %>



		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-sm">

              <%= render "footer" %>

    </div>
  </div>
