

  <div class="row">
		<div class="col-xs-4">
      <p>Johnson Controls > JohnsonControls.com
		</div>
		<div class="col-xs-8">
      <h1>Content Plan</h1>
      <hr>
      <h2>Approach</h2>
      <p>These deliverables are the tools we will use to effectively transition content from legacy sites to an updated JohnsonControls.com.
        <h4>Taxonomy</h4>
              <p>Attributes about the business and offerings, organized into categories
        <h4>Content Model</h4>
              <p>Identification of content types for the site
        <h4>Messaging Hierarchy</h4>
              <p>Structure of messaging for the customer experience on the site
        <h4>Template and Module Definition</h4>
              <p>Detail of page types and elements that guides content management
        <h4>Content Gap Analysis</h4>
              <p>Adjustment areas for achieving the future state of content
      <hr>
        <h2>Migration & Publication</h2>

      <hr>
        <h2>Creation</h2>

      <hr>
        <h2>Governance</h2>

      <hr>
        <h2>Measurement & Tracking</h2>

		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>Content Model v.0.1</p>
      </footer>
    </div>
  </div>

</div>
