

  <div class="row">
		<div class="col-xs-4">
      <p>Johnson Controls > JohnsonControls.com
		</div>
		<div class="col-xs-8">
      <h1>Content Plan</h1>
      <hr>
      <h2>Who this site is for</h2>
        <p>The purpose of this site is to provide content creators, marketers, regulatory bodies,
and website developers specific guidance on the intent of an individual page content and templates
(i.e., Why should I choose this template, add these tags or craft this messaging for the webpage I’m about to create?),
in addition to general guidance on what elements should appear on a webpage using that
template as well as where, why, and when those elements appear on that page. </p>
      <hr>
      <h2>How this should be used</h2>
        <p>Each page in the destination site is based on a pre-existing and pre-defined sitemap, taxonomy (for tagging and SEO), messaging structure (hierarchy) and template.
          All elements and page components are approved, and follow guidelines for content development and load into the content management system (CMS): Sitecore. This ensures the integrity of the design system (e.g., interface design; component use;
design patterns; headline and subhead intent, length and re-use; content markup; etc.).</p>
        <p>All elements work together to achieve defined business and customer goals:
          <ol>
            <lh><strong>Business goals</strong></lh>
            <li>Brand comprehension</li>
            <li>Content effectiveness</li>
            <li>Lead generation</li>
            <li>Cross-category interest</li>
            <li>Customer satisfaction</li>
          </ol>
          <ol>
            <lh><strong>Customer goals</strong></lh>
            <li>Trust</li>
            <li>Guidance and responsiveness</li>
            <li>Value</li>
            <li>Ease of doing business</li>
          </ol>
      <hr>
      <h2>Deliverables</h2>
      <p>These deliverables are the tools we will use to effectively transition content from legacy sites to an updated JohnsonControls.com.
        <h4>Taxonomy</h4>
              <p>Attributes about the business and offerings, organized into categories
        <h4>Content Model</h4>
              <p>Identification of content types for the site
        <h4>Messaging Hierarchy</h4>
              <p>Structure of messaging for the customer experience on the site
        <h4>Template and Module Definition</h4>
              <p>Detail of page types and elements that guides content management
        <h4>Content Gap Analysis</h4>
              <p>Adjustment areas for achieving the future state of content
      <hr>
        <h2>Migration & Publication</h2>

      <hr>
        <h2>Creation</h2>

      <hr>
        <h2>Governance</h2>

      <hr>
        <h2>Measurement & Tracking</h2>

		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>Content Model v.0.1</p>
      </footer>
    </div>
  </div>

</div>
