

  <div class="row">
		<div class="col-xs-4">

		</div>
		<div class="col-xs-8">
      <h1>Content Cookbook</h1>
      <hr>
      <h4>Introduction</h4>
      <p>A cookbook is a collection of recipes that list ingredients, supply instructions for preparation and show examples of finished results.</p>
      <p>This Content Cookbook is a central location for source documentation, instructions and examples for content on JohnsonControls.com and Tyco.com.</p>
      <p><em>Check back often - you'll find updates to guidance and documentation appearing here regularly.</em></p>
      <h4>Who should use the Content Cookbook</h4>
        <ul>
          <li>Content creators</li>
          <li>Content editors</li>
          <li>Content managers</li>
          <li>Marketers</li>
          <li>Website developers</li>
        </ul>
        <h4>Things the Cookbook can help with</h4>
          <ul>
            <li>Guidance on the intent of an individual page content and templates</li>
            <li>Content tagging</li>
            <li>Crafting messaging for webpages</li>
            <li>What elements appear on a webpage and why</li>
            <li>Maps for understanding websites</li>
          </ul>

      <h4>Next Steps</h4>
        <p>Each page in the destination site is based on a pre-existing and pre-defined <%= link_to "sitemap", sitemap_path %>, <%= link_to "taxonomy", taxonomy_path %> (for tagging and SEO), messaging structure (hierarchy) and <%= link_to "templates", templates_path %>.
          All elements and page components are approved, and follow guidelines for content development and load into the content management system (CMS): Sitecore. This ensures the integrity of the design system (e.g., interface design; component use;
design patterns; headline and subhead intent, length and re-use; content markup; etc.).</p>


		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>

    </div>
  </div>

</div>
