<% @thislegacysite = LegacySite.find(params[:id])%>

  <div class="row">
		<div class="col-xs-12">
      <div class="alert alert-warning" role="alert">
        This page is under development for information display.
      </div>
			<h1><%= @thislegacysite.name %></h1>
      <% @sitepages = SiteCrawl.order(:address).where site_id: (params[:id]) %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Retain</th>
            <th scope="col">Update</th>
            <th scope="col">Retire</th>
            <th scope="col">Page</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>

        <% @sitepages.each do |site|  %>
        <tr>
          <td>select</td>
          <td>select</td>
          <td>select</td>
          <td><%= link_to truncate(site.address, :length => 100), site.address, target: :_blank %></td>
          <td><%= site.id %></td>
        </tr>

        <% end %>
        </tbody>
      </table>

		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>

    </div>
  </div>
