

  <div class="row">
		<div class="col-sm-4">
      <%= render "siteContentModel" %>

		</div>
		<div class="col-sm-8">
			<h1>Search Test</h1>
      <form>
      <input type="text" name="query" id="query" placeholder="I want to find…">
      <input type="submit" name="commit" value="Search" class="btn btn-default">
      </form>



		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>


    </div>
  </div>
