

  <div class="row">
		<div class="col-xs-4">



			<h3>Notes</h3>

		</div>
		<div class="col-xs-8">
			<h1>Site Map</h1>
      <%= render "siteMap" %>




		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>

    </div>
  </div>
