

  <div class="row">
		<div class="col-xs-4">

        <%= render "siteTaxonomy" %>

			<h3>Notes</h3>


		</div>
		<div class="col-xs-8">
			<h1>Taxonomy</h1>



		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>Content Model v.0.1</p>
      </footer>
    </div>
  </div>
