

  <div class="row">
		<div class="col-xs-4">
      <p>Johnson Controls > JohnsonControls.com
        <hr>
			<h3>Notes</h3>


		</div>
		<div class="col-xs-8">
      <% @taglist = SiteTagMapping.where site_id: (params[:id]) %>
      <% @site = Site.find(params[:id]) %>
			<h1>Taxonomy</h1>

              <% @tags = @taglist.arrange %>

              <%= arranged_tree_as_list(@tags, {:list_style => :bootstrap_list_group}) do |tag| %>

                  <%= tag.name %>

              <% end %>

		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>Content Model v.0.1</p>
      </footer>
    </div>
  </div>
