

  <div class="row">
		<div class="col-sm-4">
      <%= render "siteContentModel" %>

		</div>
		<div class="col-sm-8">
			<h1>Content Model</h1>

        <h3>What is a Content Model?</h3>
        <p>A Content Model the result of business requirements and design decisions. It captures several elements that make up the digital experience:</p>
        <ul>
          <li>Page templates</li>
          <li>Components that make up each template</li>
          <li>Attributes of each component</li>
          <li>Intent, logic and rules for page templates, components and attributes</li>
        </ul>

    </div>

		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>Content Model v.0.1</p>
      </footer>
    </div>
  </div>
