

  <div class="row">
		<div class="col-sm-4">
      <%= render "siteContentModel" %>

		</div>
		<div class="col-sm-8">
			<h1>Web Footprint (Sites)</h1>
      <p>Insert definition of web footprint, based on statement of work.</p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Legacy Domain Mapping
        </div>
        <div class="panel-body">
          <p>Map the Legacy Domain to JohnsonControls.com Destination. In a spreadsheet, include:</p>
          <pre>Links: link to list of Legacy URLs,link to spreadsheet draft, link to presentation recommendation</pre>
          <ol>
            <li>Legacy Domain</li>
            <li>Legacy Domain Authority (DA)</li>
            <li>Legacy Organic Traffic</li>
            <li>List of backlinks/referring domain</li>
            <li>Country</li>
            <li>Johnson Controls Existing URL</li>
          </ol>
        </div>
      </div>
      <p><a href="#">Link to Next >></a></p>


		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>


    </div>
  </div>
