

  <div class="row">
		<div class="col-sm-4">
      <%= render "siteContentModel" %>

		</div>
		<div class="col-sm-8">
			<h1>Web Footprint (Sites)</h1>
      <p>The Web Footprint determines country and regional sites important to the experience, taking into consideration implications to SEO and domain strategy.</p>
      <h2>Recommendations</h2>
      <p class="lead">JohnsonControls.com should absorb Tyco ‘country’ sites.</p>
      <p>Existing brand and domain authority will sustain findability and organic traffic through transition. Robust redirect strategy maps legacy SEO value to JohnsonControls.com destinations.</p>
      <p class="lead">Maintain JohnsonControls.com subfolder URL structure for international language and country.</p>
      <p>Example: <samp>johnsoncontrols.com/<mark>es_mx</mark></samp></p>
      <p>New Country Code Top Level Domains (ccTLDs) for Johnson Controls start from zero in search.</p>
      <p class="lead">Phase out Tyco sites with no matching JohnsonControls.com language/country subfolders, with these exceptions:</p>
      <p>Spain (<samp><mark>es_es</mark></samp>)<br>Belgium (<samp><mark>be_nl</mark></samp>)</p>
      <p>&nbsp;</p>
            <!-- Trigger the modal with a button -->
      <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">See</button> -->

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>


      <div class="panel panel-primary">
        <div class="panel-heading">
          Legacy Domain Mapping
        </div>
        <div class="panel-body">
          <p>Map the Legacy Domain to JohnsonControls.com Destination. In a spreadsheet, include:</p>
          <pre>Links: link to list of Legacy URLs,link to spreadsheet draft, link to presentation recommendation</pre>
          <ol>
            <li>Legacy Domain</li>
            <li>Legacy Domain Authority (DA)</li>
            <li>Legacy Organic Traffic</li>
            <li>List of backlinks/referring domain</li>
            <li>Country</li>
            <li>Johnson Controls Existing URL</li>
          </ol>
        </div>
      </div>
      <!-- <p><a href="#">Link to Next >></a></p> -->


		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-xs-12">

              <%= render "footer" %>


    </div>
  </div>
